<h3>Update Doctor</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Doctor's Name</label>
        <input type="text" class="form-control" id="doctorName" required [(ngModel)]="doctor.doctor_name" name="doctorName">
      </div>
  
      <div class="form-group">
        <label for="name">Doctor's Contact</label>
        <input type="text" class="form-control" id="doctorContact" required [(ngModel)]="doctor.doctor_contact" name="doctorContact">
      </div>
  
      <div class="form-group">
        <label for="name">Doctor's Speciality</label>
        <input type="text" class="form-control" id="doctorSpeciality" required [(ngModel)]="doctor.doctor_speciality" name="doctorSpeciality">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>